body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 100px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

header h1, h2{
    text-transform: uppercase;
    margin-bottom: 0;
}

main #dicionario{
    display: block;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.cards{
    display: inline-block;
    margin: 10px;
    border: 1px solid #000;
    vertical-align: top;
    max-height: 100%;
}

.cards details p{
    padding: 0 10px;
}

.cards details blockquote{
    color: #777;
    font-style: italic;
}

.cards img{
    display: block;
    width: 300px;
    height: 300px;
}

.cards details{
    width: 300px;
    height: auto;
    display: inline-block;
}

.cards details summary{
    font-size: 18px;
    padding: 10px;
}

.cards:hover{
    background-color: plum;
}

#dicionario{
    display: flex;
}

blockquote{
    border-radius: 10px;
    padding: 1rem;
    color: white;
}

/* Vamos ver agora alguns breakpoints comuns em termos de larguras dos dispositivos:

320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs*/

@media (max-width: 768px){
    header{
        padding-bottom: 20px;
        height: 200px;
    }
}

@media (max-width:768px){
    header h1, h2{
        font-size: 26px;
    }
}

@media (max-width:768px){
    .cards{
        display: block;
        margin: 20px 10px;
    }
}

@media (max-width:768px){
    .cards img{
        height: 100%;
        width: 100%;
    }
}

@media(max-width:768px){
    .cards details{
        width: 100%;
    }
}

@media (max-width:768px){
    .cards details summary{
        font-size: 1rem;
    }
}

@media (max-width:768px){
    
    .cards deatils p{
        font-size: 14px;
    }
}