body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 100px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

header h1, h2{
    text-transform: uppercase;
    margin-bottom: 0;
}

main #dicionario{
    display: block;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.cards{
    display: inline-block;
    margin: 10px;
    border: 1px solid #000;
    vertical-align: top;
    max-height: 100%;
}

.cards p{
    padding: 0 10px;
}

.cards blockquote{
    color: #777;
    font-style: italic;
}

.cards img{
    display: block;
    width: 300px;
    height: 300px;
}

.cards details{
    width: 300px;
    height: auto;
    display: inline-block;
}

.cards summary{
    font-size: 18px;
    padding: 10px;
}

.cards:hover{
    background-color: plum;
}

#dicionario{
    display: flex;
}

blockquote{
    border-radius: 10px;
    padding: 1rem;
    color: white;
}